body {
  background-color: rgb(252, 255, 255);
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 2.5rem;

}

.form-style {
  background-color: rgba(189, 244, 244, 0.4);
  padding: 2.5rem;
  border-radius: 3%;
  text-align: center;
  height: max-content;
  box-shadow: -5px 5px 42px -17px rgba(0, 0, 0, 0.75);

}

.task-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.task-list {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 22rem;
  padding: 1rem;
  margin: 1rem;
  background-color: #0847da84;
  border-radius: 10px;
  box-shadow: -5px 5px 42px -17px rgba(0, 0, 0, 0.75);

}

.task-list h2 {
  text-align: center;
}